

# cmake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Testing
cmake_install.cmake
install_manifest.txt

# tags
tags

# autotools
*.a
*.lo
*.la
*.dylib
*.o

Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gumbo.pc
gumbo_test
gumbo_test.log
gumbo_test.trs
install-sh
libtool
ltmain.sh
m4/
missing
test-driver
test-suite.log
config.h

tests/*.log
tests/*.trs
configure.scan
autoscan.log
.libs
.deps
r3.pc
stamp-h1
tests/bench_str.csv
