

# cmake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Testing
cmake_install.cmake
install_manifest.txt

# tags
tags

# autotools
*.a
*.lo
*.la
*.dylib
*.o

aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
stamp-h1
Makefile.in
libtool
ltmain.sh
